
{% load static i18n humanize %}
<div class="search-cat {% if 'wms' in search_results %} active {% endif %}">

    <div class="wms search--body">
        <div>
            <div class="search-results">
                {% if search_results.wms.wms.wms.md.nresults|add:0 > 0 %}
                    {% for result in search_results.wms.wms.wms.srv %}
                        {% with result.layer.0 as result_l %}
                        <div class="result--item -js-result-wms">
                            <!-- parent layer -->
                                {% with result_l as layer %}
                                    {% include 'primary/wms/wms_search_result.html' %}
                                {% endwith %}
                                {% if result_l.layer is not None %}
                                    <!-- children layer -->
                                    {% for layer in result_l.layer %}
                                        {% with result_l as parent_result %}
                                        <div class="result-item-layer hide">
                                            {% include 'primary/wms/wms_search_result.html' %}
                                        </div>
                                        {% endwith %}
                                    {% endfor %}
                                {% endif %}
                        </div><!-- end .result--item -->
                        {% endwith %}
                    {% endfor %}
                {% else %}
                    {% include 'no_results_message.html' %}
                {% endif %}
            </div><!-- end .search-results -->

            <div class="center">
                {% if search_results.wms.wms.wms.md.nresults|add:0 > 0 %}
                {% with pages.wms as page_data %}
                    {% with 'wms' as resource_name %}
                        {% include 'pagination.html' %}
                    {% endwith %}
                {% endwith %}
                {% endif %}
            </div><!-- end .center -->

        </div><!-- end .div -->
    </div><!-- end .wms .search--body -->
</div><!-- end .search-cat -->
