{% load static i18n humanize %}
<div class="search-cat {% if 'service' in search_results %} active {% endif %}">
    <h2 class="search-header" title="{% trans 'Services' %}">
        <button id="button_services" aria-expanded="false" aria-controls="region_services" class="source--title -js-title -js-accordion">
            <span class="accordion icon closed" aria-hidden="true"></span>
            <i class="fas fa-exchange-alt tab-icn" title="{% trans 'Services' %}" aria-hidden="true"></i>
	    <span>{% trans 'Services' %} ({{ service.md.nresults|intcomma }})</span>
        </button>
    </h2><!-- end .search-header -->

    <div id="region_services" role="region" aria-labelledby="button_services" class="service search--body hide">
        <div>
            <div class="center">
                {% if service.md.nresults|add:0 > 0 %}
                {% with pages.service as page_data %}
                    {% with 'service' as resource_name %}

                        {% include 'pagination.html' %}

                    {% endwith %}
                {% endwith %}
            </div>
            <div class="search-results">
                {% for result in service.srv %}
                    {% include 'other/search_result.html' %}
                {% endfor %}
            </div><!-- end .search-results -->

            {% else %}
            <p>
                {% trans 'No results found, please use another search term...' %}

            </p>
            </div>
            {% endif %}

            <div class="center">
                {% if service.md.nresults|add:0 > 0 %}
                {% with pages.service as page_data %}
                    {% with 'service' as resource_name %}

                        {% include 'pagination.html' %}

                    {% endwith %}
                {% endwith %}
                {% endif %}
            </div>
        </div><!-- end .div -->
    </div><!-- end .dataset .search--body -->
</div>
