{% load static i18n humanize %}
<div class="search-cat {% if 'wmc' in search_results %} active {% endif %}">

    <div class="wmc search--body">
        <div>
            <div class="search-results">
                {% if search_results.wmc.wmc.wmc.md.nresults|add:0 > 0 %}
                    {% for result in search_results.wmc.wmc.wmc.srv %}
                        <div class="result--item -js-result-wmc">
                            {% include 'primary/wmc/wmc_search_result.html' %}
                        </div><!-- end .result--item -->
                    {% endfor %}
                {% else %}
                        {% include 'no_results_message.html' %}
                {% endif %}
            </div><!-- end .search-results -->

            <div class="center">
                {% if search_results.wmc.wmc.wmc.md.nresults|add:0 > 0 %}
                {% with pages.wmc as page_data %}
                    {% with 'wmc' as resource_name %}
                        {% include 'pagination.html' %}
                    {% endwith %}
                {% endwith %}
                {% endif %}
            </div><!-- end .center -->
        </div><!-- end .div -->
    </div><!-- end .wmc .search--body -->
</div><!-- end .search-cat -->
