{% extends 'base.html' %}
{% block title %}Dashboard{% endblock %}
{% load static i18n humanize %}
{% load static %}
{% block body %}
{% csrf_token %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'js/jquery-ui.min.js' %}"></script>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{% static 'js/check_abstracts.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/check_abstracts.css' %}">
    <title>Service Layer Abstract and Keyword Check</title>
</head>
<body>
    <div class="dashboard">
        <div class="card">
            <h2>{% trans 'Layers Without Abstracts'%}</h2>
            <p class="number">{{ total_layers_without_abstract }}</p>
            <p class="label">{% trans 'Total across all services'%}</p>
        </div>
        <div class="card">
            <h2>{% trans 'Layers Without Keywords' %}</h2>
            <p class="number">{{ total_layers_without_keyword }}</p>
            <p class="label">{% trans 'Total across all services' %}</p>
        </div>
        <div class="card">
            <h2>{% trans 'Abstracts Match Titles' %}</h2>
            <p class="number">{{ total_layers_abstract_matches_title }}</p>
            <p class="label">{% trans 'Total across all services' %}</p>
        </div>
        <div class="card">
            <h2>{% trans 'Layers With Short Abstracts' %}</h2>
            <p class="number">{{ total_layers_with_short_abstract }}</p>
            <p class="label">{% trans 'Total across all services' %}</p>
        </div>
    </div>
   
   <div class="column-toggle-container">
    <button class="column-toggle-button" onclick="toggleColumnList()">
        <i class="fas fa-cog"></i>{% trans 'Columns' %}
    </button>
    <ul class="column-toggle-list" id="columnToggleList">
        <li>
            <label class="switch">
                <input type="checkbox" checked data-column="0">
                <span class="slider round"></span>
            </label>{% trans 'Serial No.' %} 
        </li>
        <li>
            <label class="switch">
                <input type="checkbox" checked data-column="1">
                <span class="slider round"></span>
            </label> {% trans 'Service ID' %} 
        </li>
        <li>
            <label class="switch">
                <input type="checkbox" checked data-column="2">
                <span class="slider round"></span>
            </label> {% trans 'Service Title' %} 
        </li>
        <li>
            <label class="switch">
                <input type="checkbox" checked data-column="3">
                <span class="slider round"></span>
            </label> {% trans 'Total Layers' %} 
        </li>
        <li>
            <label class="switch">
                <input type="checkbox" checked data-column="4">
                <span class="slider round"></span>
            </label> {% trans 'Layers Without Abstract' %} 
        </li>
        <li>
            <label class="switch">
                <input type="checkbox" checked data-column="5">
                <span class="slider round"></span>
            </label> {% trans 'Layers Without Keywords' %} 
        </li>
        <li>
            <label class="switch">
                <input type="checkbox" checked data-column="6">
                <span class="slider round"></span>
            </label> {% trans 'Abstracts Match Titles' %} 
        </li>
        <li>
            <label class="switch">
                <input type="checkbox" checked data-column="7">
                <span class="slider round"></span>
            </label> {% trans 'Layers With Short Abstracts' %} 
        </li>
        <li>
            <label class="switch">
                <input type="checkbox" data-column="8">
                <span class="slider round"></span>
            </label> {% trans 'Data-Service connection' %} 
        </li>
        <li>
            <label class="switch">
                <input type="checkbox" data-column="9">
                <span class="slider round"></span>
            </label> {% trans 'Inspire Monitoring Status' %} 
        </li>
        <li>
            <label class="switch">
                <input type="checkbox" data-column="10">
                <span class="slider round"></span>
            </label> {% trans 'ISO Categorized' %} 
        </li>
       
    </ul>
</div>

<script src="{% static 'js/bootstrap.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<div class="legend-container" style="margin-bottom: 1rem; font-size: 0.9rem;">
    <strong>{% trans "Test Criteria" %}:</strong>
    <span><i class="fas fa-circle green-dot">✔</i> {% trans "All criteria met" %}</span> &nbsp;&nbsp;
    <span><i class="fas fa-circle red-dot">✖</i> {% trans "One or more criteria missing" %}</span> &nbsp;&nbsp;
    <span><i class="fas fa-circle white-dot"></i> {% trans "Check individual column's info button" %}</span> &nbsp;&nbsp;
</div>

    <table id="serviceTable">
        <thead class="sticky-header">
            <tr>
                <th>{% trans 'Serial No.' %} </th>
                <th>{% trans 'Service ID' %} </th>
                <th>{% trans 'Service Title' %} </th>
                <th>{% trans 'Total Layers' %} </th>
                <th>{% trans 'Layers Without Abstracts'%}</th>
                <th>{% trans 'Layers Without Keywords' %}</th>
                <th style="display: none;">{% trans 'Abstracts Match Titles' %}</th>
                <th style="display: none;">{% trans 'Layers With Short Abstracts' %}</th>
                <th style="display: none;">{% trans 'Data-Service connection' %}</th>
                <th style="display: none;">{% trans 'Inspire Monitoring Status' %}
                    <div class="tooltip-wrapper">
                        <button 
                          id="tooltip-trigger" 
                          class="btn btn-info" 
                          aria-describedby="tooltip-content">
                          <i class="fas fa-info-circle"></i>
                        </button>
                        <div id="tooltip-content" class="custom-tooltip" tabindex="-1" role="tooltip">
                          <div class="tooltip-item">
                            <span class="tooltip-icon white-icon"></span>
                            <span>{% trans 'No Inspire Category, nor Inspireidentifiziert' %}</span>
                          </div>
                          <div class="tooltip-item">
                            <span class="tooltip-icon mild-red-icon"></span>
                            <span>{% trans 'Inspire Category but keyword missing' %}</span>
                          </div>
                          <div class="tooltip-item">
                            <span class="tooltip-icon dark-red-icon"></span>
                            <span>{% trans 'Keyword as Inspireidentifiziert but Inspire category missing' %}</span>
                          </div>
                          <div class="tooltip-item">
                            <span class="tooltip-icon green-icon"></span>
                            <span>{% trans 'Both Inspire Category and Inspireidentifiziert' %}</span>
                          </div>
                        </div>
                      </div>
                      
                      
                </th>
                <th style="display: none;">{% trans 'ISO Categorized' %}
                    <div class="tooltip-wrapper">
                        <button 
                        id="tooltip-trigger-iso" 
                        class="btn btn-info" 
                        aria-describedby="tooltip-content-iso">
                        <i class="fas fa-info-circle"></i>
                        </button>
                        <div id="tooltip-content-iso" class="custom-tooltip" tabindex="-1" role="tooltip">
                        <div class="tooltip-item">
                            <span class="tooltip-icon white-icon"></span>
                            <span>{% trans 'ISO category does not exist' %}</span>
                        </div>
                        <div class="tooltip-item">
                            <i class="fas fa-circle green-dot">✔</i>
                            <span> {% trans 'ISO Categorised' %}</span>
                        </div>
                        </div>
                    </div>
                </th>

                <th>{% trans 'Actions' %}</th>
               
            </tr>
        </thead>
     
  <tbody>
    {% for result in results %}
      <tr>
        
        <div class="spinner" id="spinner"></div>
                <td data-label="Serial No.">{{ forloop.counter }}</td>
                <td data-label="Service ID">{{ result.wms_id }}</td>
                <td data-label="Service Title">{{ result.wms_title }}</td>
                <td data-label="Total Layers">{{ result.total_layers }}</td>
        <td data-label="Layers without Abstract">
                   {% if result.layers_without_abstract %}
                    <i class="fas fa-circle red-dot" title="{% trans 'Layers Without Abstracts. Click on Details button to see the details'%}">✖</i>
                    {% else %}
                    <i class="fas fa-circle green-dot" title="OK">✔</i>
                    {% endif %} 
                    <!-- {{ result.layers_without_abstract }} -->
                
                </td>
                <td data-label="Layers without Keywords">
                   {% if result.layers_without_keywords %}
                   <i class="fas fa-circle red-dot" title="{% trans 'The Keywords in the layers are missing. Click on Details button to see the details.'%}">✖</i>
                    {% else %}
                    <i class="fas fa-circle green-dot" title="OK">✔</i>
                    {% endif %} 
                    
                    <!-- {{ result.layers_without_keywords }} -->
                </td>
                <td data-label="Layers title matches Abstract">
                    {% for match in result.layers_abstract_match %}
                   {% if match == 'Y' %} 
                   <i class="fas fa-circle red-dot" title="{% trans 'Layer name and abstract matches. Click on Details button to see the details.'%}">✖</i>
                     {% elif match == 'N' and match != 'Y' %}
                        <i class="fas fa-circle green-dot" title="OK">✔</i>
                    {% endif %} 
                    {% endfor %}
                </td>
                <td data-label="Layers with short Abstract">
                   {% if result.layers_with_short_abstract_count > 0 %}
                    <i class="fas fa-circle red-dot" title="{% trans 'Short Abstracts. Click on Details button to see the details.'%}">✖</i>
                    {% else %} 
                    <i class="fas fa-circle green-dot" title="OK">✔</i>
                    {% endif %}
                    <!-- {{ result.layers_with_short_abstract_count }} -->
                </td>
                <td data-label="Data-Service Connection" style="display: none;">
                    {% if result.connected_wms %}
                        <i class="fas fa-circle green-dot" title="{% trans 'Connected' %}">✔</i>
                    {% else %}
                        <i class="fas fa-circle red-dot" title="{% trans 'Not connected' %}">✖</i>
                    {% endif %}
                </td>
                <td data-label="Inspire Category" style="display: none;">
                    {% if result.color == 'white' %}
                        <i class="fas fa-circle white-dot" title="{% trans 'No Inspire Category, nor Inspireidentifiziert' %}"></i>
                    {% elif result.color == 'green' %}
                        <i class="fas fa-circle green-dot" title="{% trans 'Both Inspire Category and Inspireidentifiziert' %}">✔</i>
                    {% elif result.color == 'mildred' %}
                        <i class="fas fa-circle mildred-dot" title="{% trans 'Inspire Category but keyword missing' %}">✖</i>
                    {% else %}
                        <i class="fas fa-circle mildred1-dot" title="{% trans 'Keyword as Inspireidentifiziert but Inspire category missing' %}">✖</i>
                    {% endif %}
                </td>
                <td data-label="ISO category" style="display: none;">
                    {% if result.color_iso == 'white-iso' %}
                    <i class="fas fa-circle white-dot" title="{% trans 'ISO category does not exist' %}"></i>
                    {% else %}
                    <i class="fas fa-circle green-dot" title="{% trans 'ISO Categorized' %}">✔</i>
                    {{ result.category }}
                   {% endif %} 
                  
                </td>
        
    
      
           <td>
          <button class="btn btn-sm btn-info" type="button" data-toggle="collapse" data-target="#details-{{ forloop.counter }}">
            {% trans 'Details' %}
          </button>
        </td>
                
     
      </tr>
      <tr class="collapse" id="details-{{ forloop.counter }}">
        <td colspan="5">
          <table class="table table-sm table-bordered mb-0">
            <thead class="thead-light">
              <tr>
                <th>{% trans 'Layer Name' %}</th>
                <th>{% trans 'Missing Abstract' %}</th>
                <th>{% trans 'Missing Keywords' %}</th>
                <th>{% trans 'Abstract = Title' %}</th>
                <th>{% trans 'Short Abstract' %}</th>
                <!-- <th>{% trans 'Data-Service connection' %}</th> -->
                <th>{% trans 'Information on costs/fees/licenses' %}</th>
                <th>{% trans 'Restrictions on public access' %}</th>
              </tr>
            </thead>
            <tbody>
              {% for layer in result.layers %}
                <tr>
                  <td>{{ layer.name }}</td>
                  <td>
                    {% if layer.missing_abstract %}
                      <i class="fas fa-times-circle text-danger" title="{% trans 'Missing Abstract. Please add the Abstract in the layer.' %}"></i>
                    {% else %}
                      <i class="fas fa-check-circle text-success" title="OK"></i>
                    {% endif %}
                  </td>
                  <td>
                    {% if layer.missing_keywords %}
                      <i class="fas fa-times-circle text-danger" title="{% trans 'Missing Keywords. Please add the Keywords in the layer.' %}"></i>
                    {% else %}
                      <i class="fas fa-check-circle text-success" title="OK"></i>
                    {% endif %}
                  </td>
                  <td>
                    {% if layer.abstract_matches_title %}
                      <i class="fas fa-exclamation-circle text-warning" title="{% trans 'Abstract matches Title. Change the Abstract.' %}"></i>
                    {% else %}
                      <i class="fas fa-check-circle text-success" title="OK"></i>
                    {% endif %}
                  </td>
                  <td>
                    {% if layer.short_abstract %}
                      <i class="fas fa-exclamation-circle text-warning" title="{% trans 'Short Abstract. Please add atleast 50 characters' %}"></i>
                    {% else %}
                      <i class="fas fa-check-circle text-success" title="OK"></i>
                    {% endif %}
                  </td>
                  <!-- <td>
                    {% if layer.data_service_connection %}
                      <i class="fas fa-check-circle text-success" title="{% trans 'Connected' %}"></i>
                    {% else %}
                      <i class="fas fa-times-circle text-danger" title="{% trans 'Not connected' %}"></i>
                    {% endif %}
                  </td> -->
                  <td>
                    {{ layer.fees|default:'-' }}
                  </td>
                  <td>
                    {{ layer.accessconstraints|default:'-' }}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
    <script>
             let serialNo = {{ results|length }}; // Start serial number from the current number of results
             const TRANSLATIONS = {
show_details: "{% trans 'Show Details' %}",
hide_details: "{% trans 'Hide Details' %}"
};

    </script>
     

</body>
{% endblock %}