{% extends 'base.html' %}
{% load static %}
{% block body %}
{% csrf_token %}

<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script src="{% static 'js/update_graph.js' %}"></script>
   

      <!-- Modal -->
    <div class="modal fade" id="graphModal" tabindex="-1" role="dialog" aria-labelledby="graphModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="graphModalLabel">Graph</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    
                    <div id="dynamicContent">
                        <!-- Dynamic content will be loaded here -->
                    </div>
                        <div id="spinnerContainer" style="display: none;">
                        <div id="spinner" class="spinner-border" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                    <iframe id="modalGraphContent" width="100%" height="400px" frameborder="0"></iframe>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    

    <div class="landing-page-box1"><!--landing-page-box-Begin -->
        <div class="landing-page-headline">
            <h2>Statistik</h2>
        </div>
        <div class="quickstart-container">
            <a class="quickstart search" href="#" title="Suche nach allen Karten starten" data-resource="wmc">
                <div class="quickstart-header">
                    <i class="fas fa-map" title="Web Map Context" aria-hidden="true"></i>
                    <span>Number of Registered Users:</span>
                </div>
                <span class="quickstart-body">{{user_count}}</span>
            </a>
            <a class="quickstart search" href="#" title="Suche nach allen Kartenebenen">
                <div class="quickstart-header">
                    <i class="fas fa-layer-group" title="Kartenebenen" aria-hidden="true"></i>
                    <span>Number of WMS:</span>
                </div>
                <span class="quickstart-body">{{ wms_count|safe }}</span>
            </a>
            <a class="quickstart search" href="#" title="Suche nach allen Datensätzen">
                <div class="quickstart-header">
                    <i class="fas fa-globe" title="Datensätze" aria-hidden="true"></i>
                    <span>Number of WFS:</span>
                </div>
              
                <span class="quickstart-body"> {{ wfs_count|safe }}</span>
            </a>
            <a class="quickstart search" href="#" title="Suche nach allen Datensätzen">
                <div class="quickstart-header">
                    <i class="fas fa-globe" title="Datensätze" aria-hidden="true"></i>
                    <span>Number of WMC:</span>
                </div>
              
                <span class="quickstart-body"> {{ wmc_count|safe }}</span>
            </a>
        </div>
    </div>
        <div class="container mt-4">
            <div class="row">
                <div class="col-md-6 col-sm-12 mb-4">
                    <div class="card">
                        <div class="iframe-container">
                            <iframe id="graph1" src="{{ image_path }}" width="100%" height="400px" alt="Plotly Image"></iframe>
                            <div class="overlay" onclick="showGraphInModal('fig_html')"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 mb-4">
                    <div class="card">
                        <div class="iframe-container">
                            <iframe id="graph2" src="{{ image_path_wms }}" width="100%" height="400px" alt="Plotly Image"></iframe>
                            <div class="overlay" onclick="showGraphInModal('fig_wms')"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 mb-4">
                    <div class="card">
                        <div class="iframe-container">
                            <iframe id="graph3" src="{{ image_path_session }}" width="100%" height="400px" alt="Plotly Image"></iframe>
                            <div class="overlay" onclick="showGraphInModal('session_data')"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 mb-4">
                    <div class="card">
                        <div class="iframe-container">
                            <iframe id="graph4" src="{{ image_path_report }}" width="100%" height="400px" alt="Plotly Image"></iframe>
                            <div class="overlay" onclick="showGraphInModal('fig_html_report')"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 mb-4">
                    <div class="card">
                        <div class="iframe-container">
                            <iframe id="graph4" src="{{ image_path_wfs }}" width="100%" height="400px" alt="Plotly Image"></iframe>
                            <div class="overlay" onclick="showGraphInModal('fig_wfs')"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 mb-4">
                    <div class="card">
                        <div class="iframe-container">
                            <iframe id="graph4" src="{{ image_path_wmc }}" width="100%" height="400px" alt="Plotly Image"></iframe>
                            <div class="overlay" onclick="showGraphInModal('fig_wmc')"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
  
    
    <script>
      
        $(document).ready(function() {
        $(".modal-header, .modal-footer").addClass("draggable-handle");
        $("#graphModal").draggable({
            handle: ".draggable-handle",
            containment: "window",
            cursor: "move",
            start: function(event, ui) {
                $(".draggable-handle").addClass("dragging");
            },
            stop: function(event, ui) {
                $(".draggable-handle").removeClass("dragging");
            }
        })

    });
    //need to check its security issue
    function getBaseUrl() {
    const { protocol, hostname, port } = window.location;
    return `${protocol}//${hostname}${port ? `:${port}` : ''}`;
}
  
        function showGraphInModal(contentType) {
            const baseUrl = getBaseUrl();
            const filterUrl = `${baseUrl}/filter/`;
            const spinnerContainer = document.getElementById('spinnerContainer');

            // Show the spinner
            spinnerContainer.style.display = 'block';
    
            $.get(filterUrl, function(data) {
                let htmlContent = '';
    
                if (contentType === 'fig_html_report') {
                    htmlContent = `
                        <h1>Generate Reporting Date</h1>
                        <form id="reportForm" method="post" enctype="multipart/form-data" data-url="{% url 'dashboard:filter' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="hidden" name="contenttype" value="user_report">
        <button type="submit">Upload</button>
    </form>
                    `;
                } else {
                    htmlContent = `
                        <label for="start_date">Start Date:</label>
                        <input type="date" id="start_date" name="start_date" value="{{start_date}}">
                        <label for="end_date">End Date:</label>
                        <input type="date" id="end_date" name="end_date" value="{{end_date}}">
                        <button id="update_graph_btn" data-url="{% url 'dashboard:filter' %}" data-keyword="${contentType}">Filter</button>
                    `;
                }
    
                $('#dynamicContent').html(htmlContent);
                $('#modalGraphContent').attr('srcdoc', data[contentType]);
    
                $('#graphModal').modal({
                    backdrop: false
                });
                spinnerContainer.style.display = 'none';
        
    
                if (contentType !== 'fig_html_report') {
                    document.getElementById('update_graph_btn').addEventListener('click', function() {
                        const startDate = document.getElementById('start_date').value;
                        const endDate = document.getElementById('end_date').value;
                        const url = this.getAttribute('data-url');
                        const keyword = this.getAttribute('data-keyword');

                        // Show the spinner before making the AJAX request
                        $('#modalGraphContent').hide();
                        spinnerContainer.style.display = 'flex';
    
                        $.ajax({
                            url: url,
                            type: 'GET',
                            data: {
                                start_date: startDate,
                                end_date: endDate,
                                keyword: keyword
                            },
                            success: function(data) {
                                $('#modalGraphContent').attr('srcdoc', data[contentType]);
                                // hide the spinner after the content is loaded
                                $('#modalGraphContent').show();
                                spinnerContainer.style.display = 'none';
                            },
                            error: function(xhr, status, error) {
                                console.error('Failed to fetch the content from ' + url);
                                // Hide the spinner if there is an error
                                spinnerContainer.style.display = 'none';
                            }
                        });
                    });
                } else {
                                    
                        document.getElementById('reportForm').addEventListener('submit', function(event) {
                            event.preventDefault(); // Prevent the default form submission
                    
                            const formData = new FormData(this);
                            //const url = '/dashboard/';
                            const url = this.getAttribute('data-url');
                                                        
                                if (!url) {
                                    console.error('Form action URL is not set.');
                                    return;
                                }

                                function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    const csrftoken = getCookie('csrftoken');
    spinnerContainer.style.display = 'block';
   
                            
                            $.ajax({
                                url: url,
                                type: 'POST',
                                data: formData,
                                processData: false,
                                contentType: false,
                                headers: {
                                    'X-CSRFToken': '{{ csrftoken }}' // Include CSRF token in the headers
                                },
                                success: function(data) {
                                    try {
                                        
                                        $('#modalGraphContent').attr('srcdoc', data[contentType]);
                                    } catch (e) {
                                        
                                        console.error('Response data:', data);
                                    }
                                    spinnerContainer.style.display = 'none';
                                },
                                error: function(xhr, status, error) {
                                    console.error('Failed to fetch the content from ' + url);
                                    console.error('Status:', status);
                                    console.error('Error:', error);
                                    console.error('Response:', xhr.responseText);
                                }
                            });
                        });
                    }
            });
        }

    </script>
  
    <style>
            #spinnerContainer {
            display: block;
            justify-content: center;
            align-items: center;
            height: 100%; 
            width: 100%; 
            position: absolute; 
            top: 0;
            left: 0;
            background-color: rgba(255, 255, 255, 0.8); 
            z-index: 1000; 
        }
        .dragging{
            cursor: move !important;
        } 
        .iframe-container {
            position: relative;
            width: 590px;
            height: 400px;
        }
        .container{
            max-width: 1100px;
        } 
        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            cursor: pointer;
        }
        #graph1, #graph2, #graph3, #graph4, #graph5 {
            border: none;
        }
        /* .row{
            justify-content: center;
            margin-left: -90px;
        }  */
        .cookie-container{
            display: none;
        } 
        .modal-backdrop {
            background-color: transparent !important;
            opacity: 0.5 !important;
        }
        .modal {
            pointer-events: auto !important;
        }
                
        .modal-dialog {
            max-width: 80%; 
        }
        
        .modal-body {
            max-height: 70vh; /* Set a maximum height for the modal body */
            overflow-y: auto; /* Enable vertical scrolling */
        }
         .modal-dialog-centered {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh; /* Ensure the modal takes up the full height of the viewport */
    }
    .modal-content {
        width: 100%;
        max-width: 800px; /* Adjust the max-width as needed */
    }
    </style>
</body>
{% endblock %}