{% extends 'base.html' %}
{% load static %}
{% block body %}
<script src="{% static 'js/update_graph.js' %}"></script>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

<body>
    <div class="landing-page-box1"><!--landing-page-box-Begin -->
        <div class="landing-page-headline">
            <h2>Statistik</h2>
        </div>
        <div class="quickstart-container">
            <a class="quickstart search" href="#" title="Suche nach allen Karten starten" data-resource="wmc">
                <div class="quickstart-header">
                    <i class="fas fa-map" title="Web Map Context" aria-hidden="true"></i>
                    <span>Number of Registered Users:</span>
                </div>
                <span class="quickstart-body">{{user_count}}</span>
            </a>
            <a class="quickstart search" href="#" title="Suche nach allen Kartenebenen">
                <div class="quickstart-header">
                    <i class="fas fa-layer-group" title="Kartenebenen" aria-hidden="true"></i>
                    <span>Number of WMS:</span>
                </div>
                <span class="quickstart-body">{{ wms_count|safe }}</span>
            </a>
            <a class="quickstart search" href="#" title="Suche nach allen Datensätzen">
                <div class="quickstart-header">
                    <i class="fas fa-globe" title="Datensätze" aria-hidden="true"></i>
                    <span>Number of WFS:</span>
                </div>
              
                <span class="quickstart-body"> {{ wfs_count|safe }}</span>
            </a>
        </div>
    </div>
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-6 mb-4">
                <div class="card">
                    <div class="iframe-container">
                        <iframe id="graph1" src="{{ image_path }}" width="600px" height="400px" alt="Plotly Image"></iframe>
                        <div class="overlay" onclick="redirectToFilter('graph1')"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <div class="card">
                    <div class="iframe-container">
                        <iframe id="graph2" src="{{ image_path_wms }}" width="600px" height="400px" alt="Plotly Image"></iframe>
                        <div class="overlay" onclick="redirectToFilter('graph2')"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-6 mb-4">
                <div class="card">
                    <div class="iframe-container">
                        <iframe id="graph3" src="{{ image_path_session }}" width="600px" height="400px" alt="Plotly Image"></iframe>
                        <div class="overlay" onclick="redirectToFilter('graph3')"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <div class="card">
                    <div class="iframe-container">
                        
                        <iframe id="graph4" src="{{ image_path_report }}" width="600px" height="400px" alt="Plotly Image"></iframe>
                        <div class="overlay" onclick="redirectToFilter('graph4')"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        function redirectToFilter(chartId) {
            window.location.href = "{% url 'dashboard:filter' %}#" + chartId;
        }
    </script>

    <style>
        .iframe-container {
            position: relative;
            width: 590px;
            height: 400px;
        }
        .container{
            max-width: 1100px;
        } 
        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            cursor: pointer;
        }
        #graph1, #graph2, #graph3, #graph4 {
            border: none;
        }
        .row{
            justify-content: center;
            margin-left: -90px;
        } 

    </style>
</body>
{% endblock %}