{% extends 'base.html' %}
{% load static %}
{% block body %}
<script src="{% static 'js/update_graph.js' %}"></script>
<div class="landing-page-box1"><!--landing-page-box-Begin -->
    <div class="landing-page-headline">
        <h2>Statistik</h2>
    </div>
    <div class="quickstart-container">
        <a class="quickstart search" href="#" title="Suche nach allen Karten starten" data-resource="wmc">
            <div class="quickstart-header">
                <i class="fas fa-map" title="Web Map Context" aria-hidden="true"></i>
                <span>Number of Registered Users:</span>
            </div>
            <span class="quickstart-body">{{user_count}}</span>
        </a>
        <a class="quickstart search" href="#" title="Suche nach allen Kartenebenen">
            <div class="quickstart-header">
                <i class="fas fa-layer-group" title="Kartenebenen" aria-hidden="true"></i>
                <span>Number of WMS:</span>
            </div>
            <span class="quickstart-body">{{ wms_count|safe }}</span>
        </a>
        <a class="quickstart search" href="#" title="Suche nach allen Datensätzen">
            <div class="quickstart-header">
                <i class="fas fa-globe" title="Datensätze" aria-hidden="true"></i>
                <span>Number of WFS:</span>
            </div>
          
            <span class="quickstart-body"> {{ wfs_count|safe }}</span>
        </a>
    </div>
</div>

<label for="start_date">Start Date:</label>
<input type="date" id="start_date" name="start_date" value="{{start_date}}">
<label for="start_date">End Date:</label>
<input type="date" id="end_date" name="end_date" value="{{end_date}}">
<button id="update_graph_btn" data-url="{% url 'dashboard:filter' %}">Filter</button>

<div id="graph_container">
    {{ fig_html|safe }}
</div>

<div id="graph2">
    {{ fig_wms|safe }}
</div>
<div id="graph3">
    {{ fig_html_report|safe }}
<div>
    <div id="graph4">
        {{ session_data |safe }}
    </div>

<h1>Generate Reporting Date</h1>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Upload</button>
</form>
</div>
<form method="get">
    <!-- create form in forms.py later -->
    <label for="start_date">Start Date:</label>
    <input type="date" id="start_date" name="start_date" value="{{ start_date }}">
    <label for="end_date">End Date:</label>
    <input type="date" id="end_date" name="end_date" value="{{ end_date }}" max="{{ today_date }}">
    <button type="submit">Filter</button>
</form>
<div id="graph4">
    {{ session_data |safe }}
</div>
</body>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        if (window.location.hash) {
            var element = document.getElementById(window.location.hash.substring(1));
            if (element) {
                element.scrollIntoView();
            }
        }
    });
</script>
{% endblock %}