{% extends 'base.html' %}
{% load static i18n humanize %}
{% block title %} - {% trans 'Homepage' %} {% endblock %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static '/useroperations/css/favourite_wmcs.css' %}" media="all" />

{% endblock %}

{% block body %}

<div class="landing-page-body">
    
    <div class="landing-page-headline">
        <h1>{% trans 'Welcome to the Geoportal Hesse' %} </h1> 
    </div>
    <div class="w3-container">
        <p>{% trans 'Here you get an unified access to the geodata of the Spatial Data Infrastructure Hesse (GDI-HE)' %}</p>
    </div>
</div>

<!-- A t t e n t i o n !: prerequisites in Mediawiki - special template is needed!
     The documentation can be found in Geoportal.rlp/documentation/requirement_topnews_parser.md -->


{% if top_news %} 

    <!-- Simple Alert Message -->
    <div class="landing-page-alert" style="margin:48px 10px; border: 2px solid var(--hesse-red);background-color: var(--hesse-lighterblue);padding: 10px;">
     
            {% for data in top_news %}
                        <h2 style="text-align: center;line-height:1.5;margin:0;font-size:1em;">
                        {{ data.title }} <span class="text-danger">
                            <i class="fas fa-exclamation-triangle"></i>
                        </span></h2>
                    <div style="text-align: center;line-height:1.5;margin:0;font-size:1em;">
                        <p><strong>{{ data.date }}</strong></p>
                        <p>{{ data.teaser }}</p>
                        <i class="fas fa-newspaper"></i>
                        <a href="{{ see_more_url }}">{% trans 'continue to the News' %}</a>
                    </div>
            {% endfor %}
    </div>

{% endif %}


<div class="landing-page-box1"><!--landing-page-box-Begin -->
<div class="landing-page-headline">
    <h2>{% trans "Looking for Geodata?" %}</h2>
    <p class="landing-page-first-paragraph">{% trans "Here you can start your search" %}</p>
    <p class="landing-page-second-paragraph">{% trans "Now start an already filtered search by selecting one of the tiles" %}</p>
</div>
<div class="quickstart-container">
    <a class="quickstart search" href="#" title="{% trans 'Search for all map collections' %}" data-resource="wmc">
        <div class="quickstart-header">
            <i class="fas fa-map" title="{% trans 'Web Map Context' %}" aria-hidden= "true"></i>
            <span>{% trans 'Map collections' %}</span>
        </div>
        <span class="quickstart-body">{{ results.num_wmc|intcomma }}</span>
    </a>
    <a class="quickstart search" href="#" title="{% trans 'Search for all map layers' %}" data-resource="wms">
        <div class="quickstart-header">
            <i class="fas fa-layer-group" title="{% trans 'Map layers' %}" aria-hidden= "true"></i>
            <span>{% trans 'Map layers' %}</span>
        </div>
        <span class="quickstart-body">{{ results.num_wms|intcomma }}</span>
    </a>
    <a class="quickstart search" href="#" title="{% trans 'Search for all datasets' %}" data-resource="dataset">
        <div class="quickstart-header">
            <i class="fas fa-globe" title="{% trans 'Datasets' %}" aria-hidden= "true"></i>
            <span>{% trans 'Datasets' %}</span>
        </div>
        <span class="quickstart-body">{{ results.num_dataset|intcomma }}</span>
    </a>
</div>
<div class="quickstart-container">
    <a class="quickstart" href="{% url 'useroperations:organizations' %}" title="{% trans 'Show all organizations' %}">
        <div class="quickstart-header">
            <i class="fas fa-city" title="{% trans 'Organizations' %}" aria-hidden= "true"></i>
            <span>{% trans 'Organizations' %}</span>
        </div>
        <span class="quickstart-body">{{ results.num_orgs|intcomma }}</span>
    </a>
    <a class="quickstart" href="{% url 'useroperations:apps' %}" title="{% trans 'Show all applications' %}">
        <div class="quickstart-header">
            <i class="fas fa-cogs" title="{% trans 'Applications' %}" aria-hidden= "true"></i>
            <span>{% trans 'Applications' %}</span>
        </div>
        <span class="quickstart-body">{{ results.num_apps|intcomma }}</span>
    </a>
    <a class="quickstart" href="{% url 'useroperations:categories' %}" title="{% trans 'Show all topics' %}">
        <div class="quickstart-header">
            <i class="fas fa-filter" title="{% trans 'Filter by categories and topics' %}" aria-hidden= "true" ></i>
            <span>{% trans 'Categories and topics' %}</span>
        </div>
        <span class="quickstart-body">{{ results.num_topics|intcomma }}</span>
    </a>
</div>
</div><!--landing-page-box-END -->
<div class="landing-page-box2"><!--landing-page-box-Begin -->
<div class="landing-page-headline">
    <!-- <h2>Häufig gestartete Karten</h2> -->
    <div class="tab" role="tablist">
        <button class="tablinks active" id="mostusedWMC" role="tab" aria-selected="true" title="{% trans 'List of Frequently used Maps' %}" tabindex="0"><h2>{% trans "Frequently used Maps"  %}</h2></button>
        <button class="tablinks notactive" id="newWMC" role="tab" aria-selected="false" title="{% trans 'List of Latest Maps' %}" tabindex="0"><h2>{% trans "Latest Maps"  %}</h2></button>
        <!-- <div class="search-container">
            <input type="text" id="search-input" placeholder="Search for WMCs...">
            <button id="clear-input" aria-label="Clear search input"><i class="fas fa-times"></i></button>
        </div> -->
    </div>
    <p class="landing-page-first-paragraph">{% trans "Start our map application with already selected map layers here" %}</p>
    <p class="landing-page-second-paragraph">{% trans "You can switch map layers on or off and add further map layers" %}</p>
</div>
<div class="search-container">
    <input type="text" id="search-input" title= "{% trans 'Search for WMCs...' %}" placeholder="{% trans 'Search for WMCs...' %}">
    <button id="clear-input" aria-label="{% trans 'Clear search input' %}"><i class="fas fa-times"></i></button>
</div>

<div class="button-wrapper">
<div class="tile-wrapper favourite-wmcs">
    
</div>
<button id="previousPage" style="display: none;" aria-label="{% trans 'Go to previous set of pages' %}" title="{% trans 'Go to previous set of pages' %}"></button>
<button id="nextPages" style="display: none;" aria-label="{% trans 'Go to next set of pages' %}" title="{% trans 'Go to next set of pages' %}"></button>
<div id="outer-container">
    <div id="inner-container">
        <div id="spacer"></div>
        <div id="pagination">
            <!-- Pagination links go here -->
        </div>
        <div id="spacer"></div>
    </div>
    <!-- onclick set the flag setFilter to true: see frontpage.js-->
    <a class="quickstart search search4AllWmc" href="#" title="{% trans 'Search for all map collections' %}" data-resource="wmc" onclick="setFilter()">
        <div class="quickstart-header">
            <span>{% trans 'Show all' %}</span>
        </div>
        <!-- <span class="quickstart-body">{{ results.num_wmc|intcomma }}</span> -->
    </a>
</div>
</div>
</div><!--landing-page-box-END -->
<script>
    var Back = "{% trans 'Back' %}";
    var Next = "{% trans 'Next' %}";
    var GoToPrevious = "{% trans 'Go to previous set of pages' %}"
    var GoToNext = "{% trans 'Go to next set of pages' %}"
    var GoToPage = "{% trans 'Go to page ' %}"
    var SeeAll = "{% trans 'See all' %}"
    var ShowAllWMCs = "{% trans 'Show all WMCs' %}"
    var noResults = "{% trans 'No result found' %}"
</script>
{% endblock %}
