{% load static i18n humanize %}
{% block head %}
{% for result in results.wmc %}
<div id="wmc_tile_{{result.id}}" class="tile" title="{% trans 'map combination tile' %} {{ result.title|safe }}">
    <a href="#" class="tile-header" data-id="WMC={{result.id}}" aria-label="{% trans 'Load mapviewer with the map combination' %} {{ result.title|safe }}">
        <p><strong>{{ result.title|safe }}</strong></p>
        <!-- <span class="new-label">Neu</span> -->
        <!-- {% if forloop.counter <= 2 %}
        <span class="new-label">Neu</span>
        {% endif %} -->
       {% if result in new_wmcs %}
        <span class="new-label">Neu</span>
        {% endif %} 
       
        <div class="tile-header-img">
            <img alt="{% trans 'Preview of the map combination' %} {{ result.title|safe }}" class="tile-img" src="{{ result.previewURL }}">
        </div>
    </a>
    <div class="tile-content">
        <div class="tile-content-abstract">
            <div class="sub-tile-container">
                <div title="{% trans 'Total views this week' %}" class="view-count">
                    <span aria-label="{% trans 'Total views this week' %}"><i style="margin-right: 0.2em;" class="fas fa-eye" aria-hidden="true"></i>{{ result.loadCount|intcomma }}</span>
                </div>
                <div title="{% trans 'Open metadata for' %} {{ result.title|safe }}">
                    <a aria-label="{% trans 'Open metadata for' %} {{ result.title|safe }}" class="favourite-wmc-links data-info-container" style="display:inline-block;" href="{{ result.mdLink }}" target="_blank">
                        <i class="fas fa-file-alt icn-metadata" aria-hidden="true"></i>
                    </a>
                </div>
                <div title="{% trans 'Share' %}" class="share-button popup-landing">
                    <a href="#a" class="favourite-wmc-links" aria-label="{% trans 'Copy Map URL to clipboard' %}">
                        <span class="popuptext-landing {{ result.id }}" name="sharepopup{{ result.id }}">{% trans 'Map URL copied to clipboard' %}</span>
                        <i class="fa fa-share-alt" aria-hidden="true"></i>
                    </a>
                </div>
                <div title="{% trans 'Open in mobile viewer' %}" class="mobile-button">
                    <a href="#a" class="favourite-wmc-links" aria-label="{% trans 'Open in mobile viewer' %}">
                        <i class="fas fa-mobile-alt" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}