{% load i18n static search_tags %}
<div class='-js-facets facet-list'>
    {% if is_info_search %}
    <!-- New catalogue selector location -->
    <div class="-js-facet facet-item catalogue-container" data-name="{{ resource_key }}">
	<h2 class="facet-header">{% trans 'Search in ' %}</h2>
        <div class="catalogue-form" aria-description="">
        {% for source_key, source_val in sources.items %}
	<button type="button" name="catalogue" id="radio-{{ source_key }}" value="{{ source_key }}" {% if source == source_key %}class="radio-button-catalogue radio-search-active" aria-selected="true"{% else %}class="radio-button-catalogue" aria-selected="false"{% endif %} title="{% trans 'Search in ' %}: {{ source_val.key }}" aria-label="{% trans 'Search in ' %}: {{ source_val.key }}">{{ source_val.key }}</button>
	    <!--<label for="radio-{{ source_key }}" title="{% trans 'Search in ' %}: {{ source_val.key }}">{{ source_val.key }}</label>-->
        {% endfor %}
        </div>
    </div>
    {% endif %}
    
    <div class="facet-item">
                {% if search_filters.restrictToOpenData.item.0.title == 'true' %}
		<label class="btn-filter-open-data" for="filter-only-open-data" title="{% trans 'Filter only open data active' %}" aria-label="{% trans 'Filter only open data active' %}"><span class="fixed-width">{% trans 'Only open data' %}:</span><input type="checkbox" id="filter-only-open-data" name="filter-only-open-data" checked="checked" /></label>
                {% else %}
		<label class="btn-filter-open-data" for="filter-only-open-data" title="{% trans 'Filter only open data deactivate' %}" aria-label="{% trans 'Filter only open data deactivate' %}"><span class="fixed-width">{% trans 'Only open data' %}:</span><input type="checkbox" id="filter-only-open-data" name="filter-only-open-data"  /></label>
                {% endif %}
                {% if search_filters.restrictToHvd.item.0.title == 'true' %}
		<label class="btn-filter-hvd" for="filter-only-hvd" title="{% trans 'Filter only HVD active' %}" aria-label="{% trans 'Filter only HVD active' %}"><span class="fixed-width">{% trans 'Only HVD' %}:</span><input type="checkbox" id="filter-only-hvd" name="filter-only-hvd" checked="checked" /></label>
                {% else %}
		<label class="btn-filter-hvd" for="filter-only-hvd" title="{% trans 'Filter only HVD deactivate' %}" aria-label="{% trans 'Filter only HVD deactivate' %}"><span class="fixed-width">{% trans 'Only HVD' %}:</span><input type="checkbox" id="filter-only-hvd" name="filter-only-hvd" /></label>
                {% endif %}
    </div>
    {% for facet_key, facet_val in facets.items %}
    {% if facet_val %}
    <div class='-js-facet facet-item' data-name='{{ facet_key }}' >
        <h2 class="facet-header">{{ facet_key }}</h2>
         <input type="text" class="facet-search-input" placeholder="{% trans 'Filter' %}..." aria-label="{% trans 'Filter' %} {{ facet_key }}" style="display:none;" />
         <div class="keyword-forms" tabindex="-1">
             {% for subcat in facet_val %}
                <button type="button" class='-js-subfacet subfacet {% if subcat.is_selected %}chosen-subfacet{% endif %}' data-name='{{ subcat.title }}' data-id='{{ subcat.id }}' data-parent="{{ facet_key }}" title="{{ subcat.title }} ({{ subcat.count }})">
		            <span class="subfacet-label">{{ subcat.title }}</span>
                    {% if subcat.is_selected %}
                    <span aria-hidden="true" class="fas fa-check" style="margin-right:15px"></span>
                    {% endif %}
                    <span class="hit_badge">{{ subcat.count }}</span>   
                    
                </button>
             {% endfor %}
         </div>
    </div>
    {% endif %}
    {% endfor %}
</div>
