{% load i18n %}
<div class="filterarea -js-filterarea">
    
    
        {% if is_de_search or is_eu_search %}
            <p class="filters-not-supported">
                {% trans 'Filter categories are not supported for this catalogue.' %}
            </p>
        {% endif %}
        <!-- selected facets-->
        {% comment %}Always render block; display toggled via condition or JS{% endcomment %}
        {% if selected_facets or search_filters.searchText.item|length > 1 or search_filters.searchBbox or search_filters.restrictToOpenData.item.0.title == 'true' or search_filters.restrictToHvd.item.0.title == 'true' %}
        <div id="chosen-facets" class="-js-chosen-facets" data-has-server-filters="true">
        {% else %}
        <div id="chosen-facets" class="-js-chosen-facets filter-block-hidden" data-has-server-filters="false" style="display:none;">
        {% endif %}
	    <button type="button" title="{% trans 'Remove all filters' %}" class="filter-remover">Alle zurücksetzen</button>
                {% for facet_key, facet_val in selected_facets.items %}
                <div class="single-chosen-facet">
                    <div class="search--list -js-facet-list chosen-facet-items">
                        {% for selected_facet in facet_val %}
                            <button type="button" class="chosen-facet-item search--list--item -js-facet-item" data-id="{{ selected_facet.id }}" data-parent="{{ facet_key }}" data-title="{{ selected_facet.title }}">
                                <span class="chosen-facet-category">{{ facet_key }}:</span> {{ selected_facet.title }}
                                <span style="margin-left: 5px;" class="icon-cross fs-10px" aria-hidden="true"></span>
                            </button>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div>
        
        
        <!-- Search tags -->
            <div class="search--list -js-keywords" data-id='geoportal-'>
                {% for item in search_filters.searchText.item %}
                    {% if item.title != "*" %}
                    <button type="button" title="Suchbegriff {{ item.title }} löschen" class="search--list--item -js-term">{{ item.title }}
                        <span style="margin-left:5px;" class="icon-cross fs-10px"></span>
                    </button>
                    {% endif %}
                {% endfor %}
            </div>

        <!-- Spatial restrictions -->
        {% if search_filters.searchBbox|length > 0 %}
            <div class="search--list -js-facet-list">
                {% for item in search_filters.searchBbox.item %}
                    <button type="button" class="search--list--item -js-spatial-restriction">{{ item.title }}
                        <span class="icon-cross fs-10px"></span>
                    </button>
                {% endfor %}
            </div>
        {% endif %}

     
</div><!-- end .filterarea -->
