{% load i18n static %}
    <div class="configurations_form">
                    
        {% if search_filters.orderFilter|length > 0 %}
	<label for="geoportal-orderBy"><span class="fixed-width">{% trans 'Sort by:' %}</span><select id="geoportal-orderBy" title="{% trans 'Sort by:' %} {{ order_item.title }}">
                <option selected="selected" value="{{ search_filters.orderFilter.title }}">{{ search_filters.orderFilter.title }}</option>
                {% for order_item in search_filters.orderFilter.item %}
                <option value='{{ order_item.title }}' data-url='{{ order_item.url }}' title="{% trans 'Sort by:' %} {{ order_item.title }}">{{ order_item.title }}</option>
                {% endfor %}
	    </select></label>
        {% endif %}
        
    </div>
