{% load i18n humanize %}
<div class="pager">
    {% if page_data.current_page < page_data.max_page %}
    <button class="show-more-results -js-show-more"
            data-page="{{ page_data.current_page|add:1 }}"
            data-id="{{ resource_name }}"
            type="button">
        {% if page_data.next_count %}
            Weitere {{ page_data.next_count }} anzeigen
        {% else %}
            Weitere Ergebnisse anzeigen
        {% endif %}
    </button>
    {% endif %}
</div><!-- end .pager -->