{% load static humanize i18n %}
<div class="search-cat {% if 'application' in search_results %} active {% endif %}">
    <h2 class="search-header" title="{% trans 'Applications' %}">
        <button id="button_applications" aria-expanded="false" aria-controls="region_applications" class="source--title -js-title -js-accordion">
            <span class="accordion icon closed" aria-hidden="true"></span>
            <i class="fas fa-cogs tab-icn" title="{% trans 'Applications' %}" aria-hidden="true"></i>
	    <span>{% trans 'Applications' %} ({{ application.md.nresults|intcomma }})</span>
        </button>
    </h2><!-- end .search-header -->

    <div id="region_applications" role="region" aria-labelledby="button_applications" class="application search--body hide">
        <div>
            <div class="center">
                {% if application.md.nresults|add:0 > 0 %}
                {% with pages.application as page_data %}
                    {% with 'application' as resource_name %}

                        {% include 'pagination.html' %}

                    {% endwith %}
                {% endwith %}
            </div>
            <div class="search-results">
                {% for result in application.srv %}
                    {% include 'other/search_result.html' %}
                {% endfor %}
            </div><!-- end .search-results -->

            {% else %}
            <p>
                {% trans 'No results found, please use another search term...' %}

            </p>
            </div>
            {% endif %}

            <div class="center">
                {% if application.md.nresults|add:0 > 0 %}
                {% with pages.application as page_data %}
                    {% with 'application' as resource_name %}

                        {% include 'pagination.html' %}

                    {% endwith %}
                {% endwith %}
                {% endif %}
            </div>
        </div><!-- end .div -->
    </div><!-- end .dataset .search--body -->
</div>
