@import "color_schema.css"

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.ttf?f76mlk") format("truetype"), url("../fonts/icomoon.woff?f76mlk") format("woff"), url("../fonts/icomoon.svg?f76mlk#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

.field-wrapper{
    padding: 5px 0px;
    display: flex;
    /*justify-content: space-around;*/
    align-items: center;
}
.form-wrapper * {box-sizing:border-box;}

.warning{
    color: red;
    font-weight: bold;
}

form input[type=text], form input[type=password], form input[type=email], form textarea{
    padding: 10px;
    border: 2px solid var(--secondary-placeholder);
    border-radius: 5px;
    color: var(--primary);
    background-color: white;
    width: 100%;
}

.submit-button-wrapper{
    margin: 10px 0;
    display: flex;
    justify-content: space-around;
}
.submit-button-wrapper a{
    text-decoration: none;
}

#delete-form-button:hover{
    cursor: pointer;
    background-color: white;
    border: 1px solid red;
    color: red;
    font-weight: bold;
}

.forgot-pw-button{
    padding: 10px;
    color: var(--primary);
}
.forgot-pw-button:hover{
    cursor: pointer;
    color: var(--primary-light-hover);
}

.form-submit-button, .form-cancel-button, .form-change-submit-button, .form-delete-submit-button {
    padding: 10px;
    font-size: 1.2em;
    color: white;
    border: none;
    font-weight: bold;
    background-color: var(--primary);
}

.form-delete-submit-button{
    border: 1px solid;
    order:-1;
}

.form-submit-button:hover, .form-cancel-button:hover, .form-change-submit-button:hover{
    cursor: pointer;
    background-color: var(--hesse-green);
}

.form-submit-button:focus-visible, .captcha-refresh:focus-visible, .form-change-submit-button:focus-visible, .form-delete-submit-button:focus-visible, .forgot-pw-button:focus-visible {
    outline: solid .125rem #f1b709;
}

.form-wrapper{
    display: flex;
    /*justify-content: center;*/
}

.small-label label{
    color: var(--secondary-placeholder);
    font-size: 12px;
}

.title h1{
    color: var(--primary);
}
.field-label{
    width: 300px;
}
.field-value{
    /*min-width: 200px;*/
    width: 100%;
}

.field-value input:focus, .field-value textarea:focus{
    border-color: var(--hesse-lightblue);
    outline: solid .125rem #f1b709;
}

#password_message {
  background: #f1f1f1;
  color: #000;
}

.sliding{
  transition: height 0.66s ease-out;
  height: 0;
  overflow: hidden;
}

.sliding.in{
    height: 200px;
}

.valid {
    color: green;
  }
  
  .valid:before {
    position: relative;
    content: "✔ ";
  }
  
  /* Add a red text color and an "x" when the requirements are wrong */
  .invalid {
    color: red;
  }
  
  .invalid:before {
    position: relative;
    content: "✖ ";
  }


.captcha{
    width: 100px;
    height: 45px;
}

.foot-note{
    color: var(--secondary-placeholder);
    font-size: 0.8em;
}

.captcha-refresh{
    text-decoration: none;
    color: #fff;
    font-size: 1.5em;
    position: relative;
    padding: 8px;
    left: 10px;
    bottom: 12px;
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    background-color: var(--primary);
}
.captcha-refresh:hover{
    background-color: var(--primary-light-hover);
}

input:invalid {
    border: 2px red;
}

input:invalid:required {
    background-color: #f6ecec;
    /* Light red */
    color: #000000;
    /* Black */
}

.password-field {
    position: relative;
    display: block;
}

#password-rules li, #CheckPasswordMatch, #CheckEmail {
  display: inline-block;
  background-color: #efefef;
  border-radius: 5px;
  padding: 4px 8px;
  margin: 10px 0px 0px 0px; 
  font-size: 12px;
}

.password-field .toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.toggle-question {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.form-wrapper {
    width: 100%;
    max-width: 600px;
}

#tooltip-content {
    display: none;
    position: absolute;
    width: inherit;
    background-color: #f9f9f9;
    color: #333;
    padding: 10px 40px 10px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    z-index: 1;
    cursor: pointer;
}

/* Show the tooltip content when the show-tooltip class is present */
#tooltip-content.show-tooltip {
    display: block;
}
  
  #close-tooltip {
    background-color: var(--hesse-green);
    color: #fff;
    padding: 6px 6px;
    cursor: pointer;
    border: 1px solid black;
  }

/* Show the tooltip content when the show-tooltip class is present */
#tooltip-content.show-tooltip {
    display: block;
}

/* CSS for screens less than or equal to 600px wide */
@media (max-width: 600px) {
    #tooltip-content {
        display: none;
        width: 100%;
        /* Take up the full width */
        font-size: 12px;
        cursor: pointer;
        overflow: auto;
    }

    tooltip-content.show-tooltip {
        display: block;
        position: absolute;
        left: 0;
    }
}

@media screen and (max-width: 500px){
    .field-wrapper{flex-wrap:wrap;justify-content: space-around;}
    .field-wrapper td{display:block;width:100%;}
    p.description, p.foot-note, .register-table {padding: 0rem 1rem;}
    .register-table {border-spacing: unset;}
}

@media screen and (max-width: 800px){
    .body-content.sidebar-open .field-wrapper{flex-wrap:wrap;}
    .body-content.sidebar-open .field-wrapper td{display:block;width:100%;max-width:300px;}
}

