{% extends 'base.html' %}
<!--landing-page-box-Begin -->

{% block body %}
<div class="landing-page-headline">
    <h2>Sie suchen Geodaten?</h2>
    <p class="landing-page-first-paragraph">Hier erhalten Sie einen Vorsprung bei Ihrer Suche</p>
    <p class="landing-page-second-paragraph">Starten Sie jetzt eine bereits gefilterte Suche durch die Auswahl einer der Kacheln</p>
</div>
<div class="quickstart-container">
    <a class="quickstart search" href="#" title="Suche nach allen Karten starten" data-resource="wmc">
        <div class="quickstart-header">
            <i class="fas fa-map" title="Kartenzusammenstellungen" aria-hidden="true"></i>
            <span>Karten</span>
        </div>
        <span class="quickstart-body">11</span>
    </a>
    <a class="quickstart search" href="#" title="Suche nach allen Kartenebenen" data-resource="wms">
        <div class="quickstart-header">
            <i class="fas fa-layer-group" title="Kartenebenen" aria-hidden="true"></i>
            <span>Kartenebenen</span>
        </div>
        <span class="quickstart-body">13.790</span>
    </a>
    <a class="quickstart search" href="#" title="Suche nach allen Datensätzen" data-resource="dataset">
        <div class="quickstart-header">
            <i class="fas fa-globe" title="Datensätze" aria-hidden="true"></i>
            <span>Datensätze</span>
        </div>
        <span class="quickstart-body">17</span>
    </a>
</div>
<div class="quickstart-container">
    <a class="quickstart" href="/organizations/" title="Suche nach allen Organisationen starten">
        <div class="quickstart-header">
            <i class="fas fa-city" title="Organisationen" aria-hidden="true"></i>
            <span>Organisationen</span>
        </div>
        <span class="quickstart-body">2</span>
    </a>
    <a class="quickstart" href="/apps/" title="Zeige alle Anwendungen">
        <div class="quickstart-header">
            <i class="fas fa-cogs" title="Anwendungen" aria-hidden="true"></i>
            <span>Anwendungen</span>
        </div>
        <span class="quickstart-body">0</span>
    </a>
    <a class="quickstart" href="/categories/" title="Alle anzeigen">
        <div class="quickstart-header">
            <i class="fas fa-filter" title="Filtern mittels Kategorien und Themen" aria-hidden="true"></i>
            <span>Kategorien und Themen</span>
        </div>
        <span class="quickstart-body">22</span>
    </a>
</div>
<div class="line-graph-container">
    <h2>Anzahl der Angemeldeten Benutzer</h2>
    <form method="get" action="{% url 'dashboard:dashboard' %}">
        <label for="filter">Filter:</label>
        <select name="filter" id="filter" onchange="this.form.submit()">
            <option value="7" {% if filter_option == '7' %}selected{% endif %}>Vergangene 7 Tage</option>
            <option value="24" {% if filter_option == '24' %}selected{% endif %}>Vergangene 24 Stunden</option>
        </select>
    </form>
    <div id="sessionChart" style="width: 800px; height: 600px;"></div>
    
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script>
        var dates = {{ dates|safe }};
        var sessionNumbers = {{ session_numbers|safe }};
        var filterOption = "{{ filter_option }}";
        var titleText = filterOption == "7" ? "Anzahl der parallelen Nutzer im Geoportal Hessen Letze 7 Tage" : "Anzahl der parallelen Nutzer im Geoportal Hessen Letze 24 Stunden";

        var data = [{
            x: dates,
            y: sessionNumbers,
            type: 'scatter',
            mode: 'lines+markers',
            name: 'Sessions'
        }];

        var layout = {
            title: titleText,
            xaxis: {
                title: 'Datum'
            },
            yaxis: {
                title: 'Zahl der Sessions'
            },
            margin: {
                l: 50,
                r: 50,
                b: 100,
                t: 100,
                pad: 4
            }
        };

        Plotly.newPlot('sessionChart', data, layout);
    </script>
</div>
{% endblock %}